@font-face {
    font-family: 'Ubuntu';
    src: url('../public/Ubuntu/Ubuntu-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Regular';
    src: url('../public/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

.container {
    min-height: 100vh;
    margin: 0;
    background-color: #f1faee;
}

.w70 {
    width: 70%!important;
}

.defaultWidth {
    width: 60px!important;
}

.sidebar {
    font-family: "Ubuntu","Times New Roman", sans-serif!important;
    padding: 5px 0;
    height: 60px;
    z-index: 5;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: #a8dadc;
    overflow: hidden;
    box-shadow: 0 0 8px 0 #1d3557;
}

.logo{
    font-size: 20px;
    font-weight: 600;
    color: #1d3557;
}

.navLink {
    font-family: "Ubuntu-Regular", "Times New Roman", sans-serif;
    text-align: center;
    font-size: 15px;
    color: #5a5e62;
}

.navLink>span {
    font-size: 13px;
    display: block;
}

.currentPage {
    font-size: 18px!important;
    color: #1d3557 !important;
}

.children {
    margin-left: 30px;
    padding: 10px;
    background: #00ffff;
    height: 100vh;
}

.settingsLogout {
    position: fixed;
    padding-top: 5px;
    top:0;
    right: 0;
}

@media (min-width: 900px) {
    .w70 {
        width: 18%!important;
    }
    .sidebar {
        min-height: 100vh;
        width: 68px;
        display:block;
        left: 0;
    }

    .logo {
        height: 70px;
        font-size: 30px;
        margin: 0 50px 30px 68px;
    }

    .navLink {
        height: 30px;
        text-align: left;
        font-size: 20px;
        margin-bottom: 20px;
        display: flex;
        overflow: hidden;

    }

    .navLink>span {
        font-size: 20px;
    }

    .currentPage {
        font-size: 24px!important;
    }

    .settingsLogout {
        position: fixed;
        left:0;
        top: 85vh;
    }
}